.card {
    display: block;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    &__media {
        float: left;
        padding: 0 0 25px 25px;
        position: relative;
        width: 20%;
        img {
            box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
            float: left;
            margin-top: -25px;
            position: relative;
        }
    }
    &__body {
        float: left;
        padding: 25px 25px 25px 20px;
        width: 70%;
    }
}