.info {
    display: block;
    @media screen and (min-width:800px) {
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
    }
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
    & > div {
        width: 100%;
        @media screen and (min-width:800px) {
            width: 50%;
        }
    }
    &__media {
        margin-right: 10px;
        img {
            width: 100%;
            height: auto;
        }
    }
    &__body {
        width: 100%;
        background: $white;
        padding: 20px;
    }
}