body {
    background: $bg-color;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

.clearfix {
    clear: both;
}

.container {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
